In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import joblib

In [2]:
anger_dataset = pd.read_csv('Test_Data.csv')

In [3]:
anger_dataset=anger_dataset.dropna(axis=1, how='all')
anger_dataset.head()

   HR-Anger  Value_Spo2  SLEEP_POINTS  STRESS_SCORE  Rating(Out of 10)
0        71        93.1             0             0                  4
1        70        93.6            23            76                  7
2        64        94.0            18            82                  5
3        99        94.6            23            81                  5
4        59        92.7            16            73                  6

In [4]:
anger_dataset['Outcome'] = anger_dataset['Rating(Out of 10)'].apply(lambda x: 1 if x >= 6 else 0)

anger_dataset.groupby('Outcome').mean()

          HR-Anger  Value_Spo2  SLEEP_POINTS  STRESS_SCORE  Rating(Out of 10)
Outcome
0        72.169492   80.679661     14.118644     53.237288           3.457627
1        72.066667   84.413333     13.266667     51.333333           6.466667

In [5]:
x = anger_dataset.drop(columns='Rating(Out of 10)', axis=1)
x = x.drop(columns='Outcome',axis=1)
# x = StandardScaler().fit_transform(x)
y = anger_dataset['Outcome']

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)
print(x.shape,x_test.shape,x_train.shape)

(74, 4) (15, 4) (59, 4)

In [7]:
rf = RandomForestClassifier()
rf.fit(x_train, y_train)

joblib.dump(rf, 'random_forest_model.pkl')

['random_forest_model.pkl']